/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
	sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&left_encoder &right_encoder>;
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			label = "Default";
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
			bindings = <
             &kp ESC     &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6     &kp F7   &kp F8   &kp F9    &kp F10  &kp F11     &kp F12     &kp KP_NUM   &kp PSCRN
&kp C_MUTE   &kp TILDE   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &kp N6     &kp N7   &kp N8   &kp N9    &kp N0   &kp MINUS   &kp EQUAL   &kp BSPC     &kp DEL    &kp K_PLAY_PAUSE
&kp F13      &kp TAB     &kp Q    &kp W    &kp F    &kp P             &kp G      &kp J    &kp L    &kp U     &kp Y    &kp SEMI    &kp LBKT    &kp RBKT     &kp BSLH   &kp K_NEXT
&kp F14      &kp ESC     &kp A    &kp R    &kp S    &kp T             &kp D      &kp H    &kp N    &kp E     &kp I    &kp O       &kp SQT     &kp RET                 &kp K_PREV
&kp K_PASTE  &kp LSHFT   &kp NUHS &kp Z    &kp X    &kp C    &kp V    &kp B      &kp K    &kp M    &kp COMMA &kp DOT  &kp FSLH    &kp RSHFT                &kp UP     &kp PG_DN
&kp K_COPY   &kp LCTRL   &kp LGUI &kp LALT          &kp LC(RCTRL)    &kp SPACE    &kp SPACE                  &lt 2 RALT &mo 3     &mo 4       &kp LEFT     &kp DOWN   &kp RIGHT
			>;
		};

		qwerty_layer {
			label = "QWERTY";
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
			bindings = <
             &trans      &trans   &trans   &trans   &trans   &trans   &trans     &trans   &trans   &trans    &trans   &trans      &trans      &trans       &trans
&trans       &trans      &trans   &trans   &trans   &trans   &trans   &trans     &trans   &trans   &trans    &trans   &trans      &trans      &trans       &trans     &kp HOME
&trans       &trans      &kp Q    &kp W    &kp E    &kp R             &kp T      &kp Y    &kp U    &kp I     &kp O    &kp P       &kp LBKT    &kp RBKT     &kp BSLH   &kp END
&trans       &trans      &kp A    &kp S    &kp D    &kp F             &kp G      &kp H    &kp J    &kp K     &kp L    &kp SEMI    &kp SQT     &kp RET                 &kp PG_UP
&trans       &trans      &trans   &kp Z    &kp X    &kp C    &kp V    &kp B      &kp N    &kp M    &kp COMMA &kp DOT  &kp FSLH    &kp RSHFT                &kp UP     &kp PG_DN
&trans       &kp LCTRL   &kp LGUI &kp LALT          &trans           &kp SPACE    &kp SPACE                  &lt 2 RALT &trans    &kp RCTRL  &kp LEFT     &kp DOWN   &kp RIGHT
			>;
		};
		misc_layer {
			label = "Misc";
			sensor-bindings = <&inc_dec_kp C_NEXT C_PREV &inc_dec_kp C_NEXT C_PREV>;
			bindings = <
             &bootloader &trans   &trans   &trans   &trans   &trans   &trans     &trans   &trans   &trans   &trans    &trans      &trans      &trans       &kp SYSREQ
&kp C_PP     &trans      &trans   &trans   &trans   &trans   &trans   &trans     &trans   &trans   &trans   &trans    &trans      &trans      &trans       &trans     &kp C_PP
&trans       &trans      &tog 1   &trans   &trans   &trans            &trans     &trans   &trans   &trans   &trans    &trans      &trans      &trans       &trans     &trans
&trans       &trans      &trans   &trans   &trans   &trans            &trans     &trans   &kp J    &kp K    &kp L     &trans      &trans                   &trans     &trans
&ext_power EP_ON  &trans &trans   &trans   &trans   &trans   &trans   &trans     &trans   &trans   &trans   &trans    &trans          &trans  &trans &trans
&ext_power EP_OFF &trans &trans   &trans            &trans           &trans       &trans                    &trans    &trans  &trans  &trans  &trans &trans
			>;
		};
	};
};
